* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to bottom, #3498db, #ffffff); /* Adjust the colors as needed */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    width: 100%;
}

h3 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-input {
    position: relative;
}

.password-input input {
    width: calc(100% - 30px);
}

.password-input button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

hr {
    border: 1px solid #ccc;
    margin: 15px 0;
}

.btn-login {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
    color: #777;
}

span {
    color: #3498db;
    cursor: pointer;
}
